:root {
    --brand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --success-color:#31D0AA;
    --text-color:#434455;
    --subtle-text-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --white-color:#FFFFFF;
    --black-color:#000000;
    --hover-link:#404BBF;

    /*Others*/
    --radius:;
    --indent: 24px;
    --items: 3;

}

body {
font-family:'roboto',sans-serif;
color:var(--text-color)
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto ;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
/*universal class*/
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /*utline: 2px solid red;
    outline-offset: -2px;*/
}
.card-set {
display: flex;
flex-wrap: wrap;

gap: var(--indent);
}
.card-set-item {
    flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}

/*Heading and paragraf*/
.heading-primary {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 48px;
}
.heading-secondary {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
}
.heading-tertiary {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    flex: none;
   
    
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    flex: none;
    order: 1;
    color: var(--text-color);
    margin-top: 8px;
    margin-bottom: 8px;
}


/*header*/

.header { 
    background-color: var(--white-color);
    border-bottom: 1px solid;
    border-color: #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;

}

/*Logo-header*/
.logo {
    text-transform: uppercase;
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-right: 76px;
    color: var(--brand-color)
}

.logo-dark {
    color: var(--dark-color)
}

.navigation {
    margin-right: auto;
}
.navigation-list,
.contact-list {
    display: flex;
    gap: 40px;
}


.navigation-link,
.contact-link {
    display: block;
    padding: 24px 0;
}

 .navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--dark-color)
 }
 .navigation-link:hover,
 .navigation-link:focus {
    color: var(--brand-color)
 }

 .contact-box {
    display: flex;
    align-items: center;
 }

    
 

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--brand-color)
}



/*Order*/

.order{
    padding: 188px 0;
    /* background: #2E2F42; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.3), rgba(46, 47, 66, 0.3)), url('../images/bg.images/people-office.jpg');
    background-repeat: no-repeat;
    background-size:: contain;
    background-position: right;


    
}
.order-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.btn {
    display: flex;
    align-items: center;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: flex-start;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}


.btn-hero {
    background: #4D5AE5;
    padding: 16px 32px;
    gap: 10px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-hero:hover,
.btn-hero:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: var(--hover-link);
    color: var(white);
}


/* sevtion about*/

.about {
    padding: 120px 0;
}
.about-list {
    --items: 4;
    

}

.about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 4px;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
}



/* section doing*/
.doing {
    padding-bottom: 120px;
}
.doing-list {
    --items: 3;
}


/*Team*/
.team {
    background: var(--light-color);
    padding: 120px 0;
}
.team-list {
    --items: 4;
}
.team-wrapper {
    text-align: center;
    padding: 32px 16px;
    background: var(--white-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--brand-color);
    border-radius: 50%;
}
.socials-icon {
    fill: var(--light-color);
}
.socials-link:hover,
.socials-link:focus {
    background-color: var(--hover-link);
}

/*Customers*/
.customers {
    padding: 130px 0 120px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    fill: var(--subtle-text-color);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--hover-link);
    fill: var(--hover-link);

}


/*partfolio*/


/*filter*/

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: var(--indent);
    margin-bottom: 72px;
}

.btn-light {
    background: #F4F4FD;
    color: var(--brand-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border: 1px solid #E7E9FC;
        border-radius: 4px;
    padding: 12px 24px;
}   

.btn-light:hover,
.btn-light:focus {
    background: var(--hover-link);
    color: white;
    border-color: var(--hover-link);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*Partfolio BOX*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    row-gap: 48px;
}

.portfolio-item:hover,
.portfolio-item:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.portfolio-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;

    border: 1px solid var(--accent-color);
    border-top: none;
}






/*footer*/

.footer {
    background: var(--dark-color);
    padding: 100px 0;
}

.footer-wrapper {
    display: flex;
    gap: 120px;
}



/*Logo Footer*/
.logo-light {
    color: var(--light-color);
}

.paragraph-footer {
    max-width: 264px;
    padding-top: 16px;
    color: var(--accent-color);
}
.socials-link-footer {
    background: rgba(255, 255, 255, 0.1);
}
.paragrapf-socials{
    color: white;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
    background: #31D0AA;
}